.bg_img_home {
    background-image: radial-gradient(rgb(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url("../img/background.jpg");
    background-position: 0 -500px;
}

.bg_transparent {
    background: transparent;
}

.bg_semi_trans {
    background-color: rgba(255, 255, 255, 0.8);
}